.navbar{
    $border-width: 0px;
    $outline: snow;
    $navBgColor: black;
    padding: 0 40px;
    font-weight:normal;
    &.nav-color{
        background-color: $navBgColor;
    }
    .btn{
        background-color: $navBgColor;
        border-color: $outline;
        outline: $outline;
        &:hover{
            background-color: $outline;
            color: $navBgColor;
        }
    }
    .navbar-toggler{
        outline: none;
        border-color: transparent;
        &:focus{
            outline: none;
            box-shadow: none;
        }
    }
    .navbar-collapse{
        padding: 10px 0;
    }
    .fa {
        border: none;
        &:hover{
            background-color: transparent;
            transform: scale(1.3);
            transition: all 0.2s ease;
        }
    }
}
